<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Geebers Travel</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

    <main>
        <section>
            <h1>Geebers Travel</h1>
            <form class="mood-form" onsubmit="return Client.handleSubmit(event)">
                <div class="prompt">Enter a location to visit!</div>
                <br/>
                <input id="name" name="input" placeholder="Where would you like to go?" />
                <br/>
                <input class="form-submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section>

            <div id="results_start">
                <img src="./img/sentiment.png" />
            </div>
            <div id="results_agree">
                <img src="./img/agreement.png" />
            </div>
            <div id="results_disagree">
                <img src="./img/disagreement.png" />
            </div>
            <div id="results">
            </div>
        </section>
    </main>

    <footer>
        <p>Guillermo Pedraza</p>
        <span>Photo by <a href="https://unsplash.com/@thematthoward?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Matt Howard</a> on <a href="https://unsplash.com/s/photos/destination?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>