<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Geebers Travel</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

    <main>
        <section>
            <h1>Geebers Travel Planner</h1>
            <p class="info"> Enter your destination and travel dates to get weather information and things you might see on your travels.</p>
            <form id="travel-form"></form>
            <div class="destination-form">
                <div class="destination-form-header1">Destination </div>
                <div class="destination-form-city-input"><input id="name" name="input" value="" placeholder="ex. Miami" /> </div>
                <div class="destination-form-header2">Start Date </div>
                <div class="destination-form-start-date-input"><input id="start-date" name="input" placeholder="MM/DD/YYYY" /> </div>
                <div class="destination-form-header3">End Date</div>
                <div class="destination-form-end-date-input"><input id="end-date" name="input" placeholder="MM/DD/YYYY" /> </div>
                <div class="destination-form-header-space"> </div>
                <div class="destination-form-submit"><input class="form-submit" type="submit" name="" value="Go!" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"></div>
            </div>
            <div id="error"></div>
            </form>
        </section>

        <div id="results">

            <h2 id="city">Weather for Miami, FL US - Population: </h2>
            <section id="weather">
                <div class="weather_result">
                    <div class="icon"><img src="https://www.weatherbit.io/static/img/icons/t04d.png" /></div>
                    <div>09/11</div>
                    <div>Monday</div>
                    <div>Hi 50&deg; / Low 20&deg;</div>
                    <div>Thunderstorm with light drizzle</div>
                </div>
            </section>

            <h2>What you might see!</h2>
            <section id="photos">


            </section>

            <h2>Enjoy your trip!</h2>
        </div>
    </main>

    <footer>
        <p>Built by Guillermo Pedraza.
            <span>Background Photo by <a href="https://unsplash.com/@thematthoward?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Matt Howard</a> on <a href="https://unsplash.com/s/photos/destination?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
        </p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>