@mixin box-shadow( $horiz: .5em, $vert: .5em, $blur: 0px, $spread: 0px, $color: #000000) {
    -webkit-box-shadow: $horiz $vert $blur $spread $color;
    -moz-box-shadow: $horiz $vert $blur $spread $color;
    box-shadow: $horiz $vert $blur $spread $color;
}

@mixin border-radius ( $value: 3px) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
    // keeps background from busting out of border
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

html {
    background: url(../img/matt-howard-A4iL43vunlY-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    min-height: 100vh;
    color: #222;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, .75);
    max-width: 1200px;
    margin: 100px auto;
    padding-top: 50px;
    @include border-radius(20px);
    @include box-shadow(0px, 15px, 17px, .17px, rgba(0, 0, 0, 0.5));
    h1 {
        margin: 0px auto;
        text-align: center;
    }
    h2 {
        font-size: 2em;
        margin: 10px auto;
        text-align: center;
    }
}

section {
    // margin-left: 75px;
    // margin-right: 75px;
    // padding-left: 34px;
    margin: auto;
}

section .weather_result {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #999;
    div {
        padding: 20px;
        vertical-align: middle;
    }
    div.icon {
        padding: 7px;
    }
    img {
        height: 50px;
        width: 50px;
    }
}

#city {
    padding-top: 20px;
}

#results {
    //display: flex;
    flex-direction: column;
    display: none;
}